@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Dhurjati;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/Dhurjati.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautamib.ttf);
	font-weight: bold;
}

@font-face {
	font-family: Gidugu;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/Gidugu.ttf);
}

@font-face {
	font-family: Gurajada;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/Gurajada.ttf);
}

@font-face {
	font-family: Ramabhadra;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/Ramabhadra.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}

@font-face {
	font-family: Gautami;
	src: url(http://home.iitj.ac.in/~praneetha/telugufonts/gautami.ttf);
}